name: Production Deployment - EKS

on:
  release:
    types: [released]

jobs:
  production:
    uses: idasilva/cicd-devops/.github/workflows/production-argocd.yml@main
    with:
      aws_region: "us-east-1"
      aws_role: "arn:aws:iam::560978416398:role/oidc-luffy-services"
      aws_sns_topic: "arn:aws:sns:us-east-1:560978416398:infra-alarms"
      aws_eks_namespace: "luffy"
      aws_eks_cluster: "default"
      image_name: "560978416398.dkr.ecr.us-east-1.amazonaws.com/luffy-services"