name: Staging Deployment - EKS

on:
  release:
    types: [published]

jobs:
  staging:
    uses: xpto-ai/devops/.github/workflows/staging-argocd.yml@main
    with:
      aws_region: "us-east-1"
      aws_role: "arn:aws:iam::xpto:role/oidc-luffy-services"  
      image_name: "xpto.dkr.ecr.us-east-1.amazonaws.com/luffy-services"
      values_file_path: "./deploy/staging.yml"
      tag_suffix: "prerelease"
      ref_name: ${{ github.ref_name }}
    secrets:
      DEVOPS_TOKEN: ${{ secrets.DEVOPS_TOKEN }}
      